<div class ="container p-5">
  <div class ="row">
    <div class ="col-10">
      <h4 class ="ml-3 mb-5"><mark>管理者ログイン</mark></h4>

      <div class ="text-center">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <table class = "mx-auto form-group">
            <tr>
              <th>メールアドレス</th>
              <td class ="p-1"><%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form_control" ,size: 60 %></td>
            </tr>
            <tr>
              <th>パスワード</th>
              <td class ="p-1"><%= f.password_field :password, autocomplete: "current-password",class: "form_control", size: 60 %></td>
            </tr>
          </table>
          <%= f.submit "ログイン",class: "btn btn-primary px-5"%>
        <% end %>
      </div>
    </div>
  </div>
</div>




<%= render "admin/shared/links" %>
