<h3><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h3>

<%= form_with model: @customer ,url: "/admin/customers/#{@customer.id}/edit" do |f| %>
  <table>
    <thead>
      <tr>
        <th colspan= "3"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>会員ID</td>
        <td colspan = "2"><%= @customer.id %></td>
      </tr>
      <tr>
        <td>氏名</td>
        <td><%= f.text_field :last_name %></td>
        <td><%= f.text_field :first_name %></td>
      </tr>
      <tr>
        <td>フリガナ</td>
        <td><%= f.text_field :last_name_kana %></td>
        <td><%= f.text_field :first_name_kana %></td>
      </tr>
      <tr>
        <td>郵便番号</td>
        <td colspan = "2"><%= f.text_field :telephone_number %></td>
      </tr>
      <tr>
        <td>住所</td>
        <td colspan = "2"><%= f.text_field :address %></td>
      </tr>
      <tr>
        <td>電話番号</td>
        <td colspan= "2"><%= f.text_field :telephone_number %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td colspan = "2"><%= f.text_field :email %></td>
      </tr>
      <tr>
        <td>会員ステータス</td>
        <td colspan = "2"><%= f.radio_button :is_active, true %>有効 <%= f.radio_button :is_active, false %>退会</td>
      </tr>
    </tbody>
  </table>
  <%= f.submit "変更を保存" %>
<% end %>