<div class ="container p-5">
  <div class ="row">
    <div class ="col-10 offset-1">
      <h4 class ="mb-3 ml-3"><mark>配送先登録/一覧</mark></h4>
      <div class ="form-group pt-3">
        <%= form_with model: @address, url: "/addresses" do |f|%>
          <table class ="table table-borderless">
            <tr>
              <th class="w-25">郵便番号(ハイフン無し)</th>
              <td><%= f.text_field :postal_code ,class: "form-control w-50" %></td>
            </tr>
            <tr>
              <th>住所</th>
              <td><%= f.text_field :address ,class: "form-control"%></td>
            </tr>
            <tr>
              <th>宛名</th>
              <td><%= f.text_field :name, class: "form-control w-50" %></td>
              <td><%= f.submit "新規登録" ,class: "btn btn-success px-3"%></td>
            </tr>
          </table>
        <% end %>
      </div>
      <table class ="table table-bordered w-80">
        <thead class ="thead-light">
          <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @addresses.each do |address| %>
            <tr>
              <td><%= address.postal_code %></td>
              <td><%= address.address %></td>
              <td><%= address.name%></td>
              <td><%= link_to "編集する", edit_address_path(address.id),class: "btn btn-success" %> <%= link_to "削除する" ,"/addresses/#{address.id}",method: :delete ,class: "btn btn-danger"%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
