<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <ul>
    <li>管理者用</li>
    <li><%= link_to "商品一覧", admin_items_path %></li>
    <li><%= link_to "会員一覧" ,admin_customers_path %></li>
    <li><%= link_to "注文履歴一覧" ,admin_root_path %></li>
    <li><%= link_to "ジャンル一覧" ,admin_genres_path %></li>
    <li></li>
  </ul>
    <%= yield %>
  </body>
</html>
